{% extends 'base.html' %}
{% load to_and %}
{% load salary_space %}
{% block container %}

  <main class="container mt-3">
      <section>
      <h1 class="h2 text-center mx-auto mt-4 py-5"><strong>Все вакансии</strong></h1>
      <div class="row">
        <div class="col-12 col-md-8 col-lg-6 offset-lg-3 offset-md-2">
          <form action="{% url 'search' %}" method="get" class="form-inline mb-3" enctype="multipart/form-data">
            <div class="form-group col-8 col-md-10 pl-0">
              <input name="s" class="form-control w-100" type="search" placeholder="Найти работу или стажировку" aria-label="Найти работу или стажировку">
            </div>
            <div class="form-group col-4 col-md-2 pl-0">
              <button class="btn btn-primary w-100" type="submit">Найти</button>
            </div>
          </form>
          <p>Например:
            <a href="{% url 'search' %}?s=python" class="text-dark border-bottom border-dark m-1 text-decoration-none">Python</a>
            <a href="{% url 'search' %}?s=flask" class="text-dark border-bottom border-dark m-1 text-decoration-none">Flask</a>
            <a href="{% url 'search' %}?s=django" class="text-dark border-bottom border-dark m-1 text-decoration-none">Django</a>
            <a href="{% url 'search' %}?s=парсинг" class="text-dark border-bottom border-dark m-1 text-decoration-none">Парсинг</a>
            <a href="{% url 'search' %}?s=ml" class="text-dark border-bottom border-dark m-1 text-decoration-none">ML</a>

          </p>
        </div>
      </div>
    </section>
    <section>
      <p class="text-center pt-3">{{ list_of_vacancies|length }} вакансий</p>
      <div class="row mt-5">
        <div class="col-12 col-lg-8 offset-lg-2 m-auto">

          {% for vacancy in list_of_vacancies %}
          <div class="card mb-4">
            <div class="card-body px-4">
              <div class="row">
                <div class="col-12 col-md-8 col-lg-9">
                  <h2 class="h2 pb-2"><a href="{% url 'id_vacancy' vacancy.id %}" class="text-dark text-decoration-none">{{ vacancy.title }}</a></h2>
                  <p class="mb-2">{{ vacancy.skills|to_and }}</p>
                  <p>От {{ vacancy.salary_min|salary_space }} до {{ vacancy.salary_max|salary_space }} руб.</p>
                  <p class="text-muted pt-1">{{ vacancy.published_at|date:'d E' }}</p>
                </div>
                <div class="col-12 col-md-4 col-lg-3 d-flex align-items-end">
                  <a href="{% url 'id_company' vacancy.company.id %}"><img src="{{ vacancy.company.logo.url }}" width="130" height="80" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </section>
  </main>

{% endblock %}